.page-bar{
  background-color: #fff;
  padding-left: 12px;
}
.container-title{
  background: #fff;
  font-size: 22px;
  line-height: 30px;
  padding: 20px 0px 30px 22px;
}
.container-body-wrap{
  margin: 24px;
  padding: 29px 32px;
  border-radius: 4px;
  background-color: #fff;
}
.container-body-wrap{
  .el-table th{
    background-color: #fafafa;
    font-weight: normal;
    border-bottom: none;
    border-bottom: 1px solid #f0f0f0;
    color: #000;
  }
  .file-content{
    .file-content-header{
      height: 36px;
      width:100%;
      background: #f7f7f7;
      border:1px solid #ddd;
      border-right: none;
      padding: 10px 10px;
      overflow: hidden;
    }
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    .file-content-header-left{
      float:left;
      span{
        padding-left: 5px;
      }
    }
    .file-content-header-right{
      float: right;
      span{
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  .CodeMirror-gutters{
    border-left: 1px solid #ddd;
  }
}
.pb-library .container-body{
  .el-tabs__nav-scroll{
    padding: 0px 22px;
    background: #fff;
  }
  .el-tabs__content{
    margin: 0px 22px;
    background: #fff;
    min-height: 100%;
  }
  .tabs-contents{
    padding: 30px;
  }
  .tabs-contents .el-table th{
    background-color: #fafafa;
    font-weight: normal;
    border-bottom: none;
    border-bottom: 1px solid #f0f0f0;
    color: #000;
  }
  .tabs-contents .el-table tr{
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
  }
}
.file-nav{
  margin-bottom: 20px;
  overflow: hidden;
  .file-nav-left{
    float: left;
  }
  .file-nav-right{
    float: right;
  }
}
.pb-dialog .el-input,
.pb-dialog .el-select{
  width: 100%;
}
.pb-dialog .el-upload-dragger,
.pb-dialog .el-upload{
  width: 100%;
}
.pb-dialog .el-upload-dragger{
  height: 130px;
}
.pb-dialog .el-upload-dragger .el-icon-plus{
  margin-top: 30px;
  width: 40px;
  height: 40px;
  font-size: 32px;
}
.pb-library .page-bar{
  padding-left: 22px;
}
span.text-yc{
  width:55px;
  overflow:hidden;
  display: inline-block;
  vertical-align: middle;
  text-overflow:ellipsis;
  white-space:nowrap;
}
dl, dd, p {
  margin: 0px;
}
.ovinfo-dl dd{
  background-color: #fff;
  margin-right: 14px;
  min-height: 110px;
  padding: 18px;
  box-shadow: 0 0 31px rgba(48,48,77,.1);
  position: relative;
  transition: all .25s ease-out 0s;
  cursor: pointer;
  border: 1px solid #fff;
  display: inline-block;
  vertical-align: middle;
  width: 26%;
  color:#a09d9d;
  font-size: 12px;
  span {
    font-size: 18px;
    padding-bottom: 15px;
    display: block;
    color:#333;
  }
}
.ovinfo-dl dd:hover{
  border: 1px solid #eee;
}
.pathspan{
  a{
    color: #303133;
    font-weight: 700;
  }
  a:hover{
    color:#409eff
  }
}
.container-body-wrap {
  .el-form-item__content{
    overflow: hidden;
  }
}
.list-paging{
  margin-top: 20px;
  text-align: right;
}
.risk-body {
  .el-range-separator{
    width: 25px;
  }
}

